* {
    font-family: monospace;
}
html, body {
    height: 100%;
}
body {
    margin: 0px;
}
span, p {
    color: black;
}
button {
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #c1c1c1;
    border-color: white black black white;
}
button:active {
    background-color: #e2e2e2;
    border-color: black white white black;
}
button, input {
    border-width: 2px;
    border-style: solid;
}
input {
    height: 16px;
    outline: none;
    background-color: white;
    border-color: black white white black;
}
.hidden {
    display: none !important;
}
.button-list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 5px;
}