* {
    color: black;
    margin: 0px;
    font-family: "Pixelated MS Sans Serif";
    scrollbar-width: thin;
    scrollbar-color: gray #f000;
}
html, body {
    height: 100%;
}
body {
    display: flex;
    overflow: hidden;
    flex-direction: column;
}

/* Setup desktop */
main {
    flex: 1;
    background-color: #008083;
    position: relative;
}
main > article {
    position: absolute;
    overflow: auto;
    resize: both;
    display: flex;
    flex-direction: column;
}

/* Setup taskbar */
footer {
    position: relative;
    padding-left: 5px;
    padding-right: 5px;
    align-items: center;
    display: flex;
    height: 32px;
    background-color: silver;
    z-index: 10;
}
footer > button {
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 5px;
}
footer > #tasklets {
    flex: 1;
    display: flex;
    gap: 2px;
}
footer > span {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    letter-spacing: 1px;
    border-width: 2px;
    border-style: solid;
    border-color: gray white white gray;
    color: #000;
}
div.vertical-space {
    margin: 5px;
    height: 80%;
    border-left: 1px solid gray;
    border-right: 1px solid white;
}
#tasklets > button {
    gap: 5px;
    display: flex;
    align-items: center;
}

/* Start menu */
.hidden {
    display: none !important;
}
#start {
    z-index: 10;
    left: 8px;
    bottom: 28px;
    display: flex;
    position: absolute;
    min-width: 180px;
}
#start > div:first-child {
    position: relative;
    width: 30px;
    background-color: #010080;
}
#start > div:first-child span {
    rotate: -90deg;
    display: inline-block;
    font-weight: bold;
    position: absolute;
    left: 13px;
    bottom: -10px;
    white-space: nowrap;
    transform-origin: left;
    font-size: 22px;
    color: white;
    font-family: monospace;
}
#start > div:last-child {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
#start button {
    width: 100%;
    border: none;
}
#start button:hover {
    color: white;
    background-color: #010080;
}
#start button > div {
    left: calc(100% - 3px);
    width: 213px;
    position: absolute;
}
#start button {
    padding: 0px;
    display: flex;
    align-items: center;
    gap: 12px;
    padding-left: 2px;
    box-shadow: none;
}
#start hr {
    border-top: 1px solid gray;
    border-bottom: 1px solid white;
}
#menu-entries {
    flex: 1;
}

/* Overrides */
.title-bar-text {
    display: flex;
    gap: 5px;
    align-items: center;
    user-select: none;
}
.window-body {
    flex: 1;
}
