* {
    color: white;
    margin: 0px;
    font-family: monospace;
}
html, body {
    height: 100%;
}
body {
    display: flex;
    overflow: hidden;
    flex-direction: column;
}

/* Setup desktop */
main {
    flex: 1;
    background-color: #008083;
    position: relative;
}
main > article {
    position: absolute;

    /* Window styling */
    background-color: #c0c0c0;
    border-width: 2px;
    border-style: solid;
    border-color: white black black white;
}
main > article > div {
    height: calc(100% - 25px);
}
main > article header {
    padding-left: 3px;
    padding-right: 3px;
    height: 20px;
    display: flex;
    align-items: center;
    gap: 1px;
    user-select: none;
    background: linear-gradient(to right, #1a0495, #1380d5);
}
main > article header h4 {
    margin-left: 2px;
    flex: 1;
}
main > article header button {
    padding: 0px;
    width: 18px;
    height: 18px;
    display: block;
}
main > article header button span {
    top: -3px;
    position: relative;
    color: #000;
}

/* Setup taskbar */
footer {
    position: relative;
    padding-left: 5px;
    padding-right: 5px;
    align-items: center;
    display: flex;
    height: 32px;
    background-color: #c0c0c0;
}
footer > button {
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 5px;
}
footer > #tasklets {
    flex: 1;
    display: flex;
    gap: 2px;
}
footer > span {
    font-weight: bold;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: gray white white gray;
    color: #000;
}
div.vertical-space {
    margin: 5px;
    height: 80%;
    border-left: 1px solid gray;
    border-right: 1px solid white;
}

/* Start menu */
.hidden {
    display: none !important;
}
#start {
    z-index: 10;
    background-color: #c0c0c0;
    border-width: 2px;
    border-style: solid;
    border-color: white black black white;
    bottom: 32px;
    display: flex;
    position: absolute;
}
#start > div:first-child {
    position: relative;
    width: 30px;
    background-color: #010080;
}
#start > div:first-child span {
    rotate: -90deg;
    display: inline-block;
    font-weight: bold;
    position: absolute;
    left: 13px;
    bottom: -10px;
    white-space: nowrap;
    transform-origin: left;
    font-size: 22px;
}
#start > div:last-child {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
#start button {
    width: 100%;
    border: none;
}
#start button:hover {
    color: white;
    background-color: #010080;
}
#start button > div {
    left: 100%;
    width: 213px;
    background-color: #c0c0c0;
    position: absolute;
}

/* Button styling */
button {
    color: #000;
    height: fit-content;
    background-color: #c0c0c0;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}
button.active {
    font-weight: bold;
    border-width: 2px;
    border-style: solid;
    border-color: black white white black;
    background-color: #e2e2e2;
}
