<!doctype html>
<html lang = "en">
    <head>
        <meta charset = "utf-8">
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0">

        <!-- CSS -->
        <style>{% include "css/main.css" %}</style>
        <style>{% include "css/icons.css" %}</style>

        <title>iiPython OS</title>
    </head>
    <body>
        <main></main>
        <footer>
            <div id = "start" class = "hidden">
                <div>
                    <span>iiPython OS</span>
                </div>
                <div id = "menu-entries"></div>
            </div>
            <button>
                <img src = "{% include 'icons/start.ico' %}">
                Start
            </button>
            <div class = "vertical-space"></div>
            <div id = "tasklets"></div>
            <div class = "vertical-space"></div>
            <span id = "clock"></span>
        </footer>

        <!-- JS -->
        <script>{% include "js/database.js" %}</script>
        <script>{% include "js/boot.js" %}</script>
        <script type = "module">{% include "js/menu.js" %}</script>
    </body>
</html>